body {
  text-align: center;
}

div {
  background-color: cadetblue;
  display: inline-block;
  padding: 20px;
  margin-top: 20px;
}

button {
  margin-left: 5px;
  padding: 7px;
  border: none;
  border-radius: 5px;
}
